.currentChannel {
  width: 100%;
  background-color: lighten($purple, 2);

  .info {
    display: flex;
    padding: 10px;
    height: 30px;
    position: relative;
    background-color: darken($purple, 2);

    .close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 15px;
      right: 25px;
      stroke: white;
      cursor: pointer;
    }

    .channelName {
      text-align: center;
      margin: auto;
      color: white;
      font-weight: 400;
      font-size: 1.15em;
    }

    .secondaryButton {
      position: absolute;
      left: 25px;
      top: 50%;
      font-size: 0.75em;
      padding: 5px 25px;
      transform: translateY(-50%);
      border-radius: 4px;
    }
  }

  .content {
    height: calc(100% - 52px);

    .chatMessages {
      height: calc(100% - 70px);
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: darken($purple, 10);
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: darken($purple, 15);
      }

      .chatMessage {
        width: calc(100% - 50px);
        color: white;
        padding: 10px 25px;
        font-size: 0.9em;
        word-break: break-all;

        &:nth-of-type(2n) {
          background-color: lighten($purple, 3);
        }
        &:hover {
          background-color: $purple;
        }

        .messageInfo {
          display: flex;

          .messageAuthor {
            color: rgb(255, 198, 40);
            margin-right: 5px;
          }

          .messageDate {
            color: rgb(200, 200, 200);
            font-size: 0.75em;
            margin-top: 4px;
          }
        }
      }
    }

    .sendMessage {
      height: 40px;
      width: calc(100% - 30px);
      padding: 15px;
      display: flex;

      .messageInput {
        padding: 10px;
        background: $darkPurple;
        width: calc(100% - 175px);
        border: 0;
        border-radius: 5px;
        color: white;

        &:focus {
          outline: none;
        }
      }

      .mainButton {
        display: block;
        border-radius: 5px;
        margin-left: auto;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
