.navbar {
  background-color: $purple;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 14px;

  ul {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;

    li {
      margin: 0 10px;
    }
    .mainButton {
      margin-left: auto;
      padding: 5px 40px;
    }
  }
}
