.userList {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: darken($purple, 5);

  .userListTitle {
    height: 40px;
    font-size: 1.6em;
    margin: 15px;
    font-weight: 400;
    color: white;
  }

  .user {
    padding: 15px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    cursor: pointer;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: darken($purple, 10);
    }

    .userAvatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .userName {
      margin-left: 15px;
      width: 220px;
      font-size: 1.15em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}
