@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.mainButton {
  border-radius: 100px;
  border: 0;
  background: #abedd8;
  color: black;
  font-weight: 500;
  padding: 10px 50px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainButton:hover {
  background: #81e4c5;
}

.secondaryButton {
  border-radius: 100px;
  border: 0;
  background: #373552;
  color: white;
  font-weight: 500;
  padding: 10px 50px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondaryButton:hover {
  background: #2d2b43;
}

.fadeout-enter {
  opacity: 0;
}

.fadeout-enter-active {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fadeout-exit {
  opacity: 1;
}

.fadeout-exit-active {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fromBottom-enter {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
}

.fromBottom-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fromBottom-exit {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.fromBottom-exit-active {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.loading div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loading div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loading div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.loadingBig {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #48466d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #48466d;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.navbar ul {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  color: white;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
}

.navbar ul .logo {
  display: block;
  width: 40px;
  height: 40px;
}

.navbar ul .mainButton,
.navbar ul .secondaryButton {
  padding: 5px 30px;
}

.navbar ul .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar ul .user .userPanelContainer {
  position: relative;
}

.navbar ul .user .userPanelContainer .userAvatar {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.navbar ul .user .userPanelContainer .userAvatar:hover {
  opacity: 1;
}

.navbar ul .user .userPanelContainer .userPanel {
  position: absolute;
  background-color: #373552;
  right: 0;
  top: 55px;
  width: 200px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  z-index: 100;
}

.navbar ul .user .userPanelContainer .userPanel .userPanelPadding {
  padding: 10px 0;
}

.navbar ul .user .userPanelContainer .userPanel .userPanelEl {
  width: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navbar ul .user .userPanelContainer .userPanel .userPanelEl:hover {
  background-color: #312f49;
  color: #abedd8;
}

.navbar ul .user .userPanelContainer .userPanel .userPanelEl a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content {
  width: 25%;
  background-color: #48466d;
  padding: 25px;
  border-radius: 10px;
  color: white;
  position: relative;
}

.modal .content .error {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b00020;
  border-radius: 10px 10px 0 0;
  padding: 30px 25px;
  width: calc(100% - 50px);
  z-index: 3;
}

.modal .content .close {
  position: absolute;
  top: 15px;
  right: 15px;
  stroke: white;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 5;
}

.modal .content .tip {
  color: #c8c8c8;
  text-align: center;
  font-size: 0.85em;
}

.modal .content .tip .underline {
  text-decoration: underline;
  cursor: pointer;
}

.modal .content h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.25em;
}

.modal .content .interfaceSmall {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content .interfaceBig {
  height: 320px;
  max-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content .interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal .content .interface .complete {
  fill: white;
  height: 200px;
  margin-top: 50px;
}

.modal .content .interface form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal .content .interface .formInput {
  border: 0;
  background: #373552;
  color: white;
  padding: 10px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
}

.modal .content .interface .formInput::-webkit-input-placeholder {
  color: #aaaaaa;
}

.modal .content .interface .formInput:-ms-input-placeholder {
  color: #aaaaaa;
}

.modal .content .interface .formInput::-ms-input-placeholder {
  color: #aaaaaa;
}

.modal .content .interface .formInput::placeholder {
  color: #aaaaaa;
}

.modal .content .interface .formSubmit {
  border: 0;
  background: #abedd8;
  width: 50%;
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.landing {
  background-color: #48466d;
  min-height: 100vh;
  overflow: hidden;
}

.landing .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .content .title {
  text-align: center;
  padding-top: 50px;
  color: white;
  font-weight: 400;
  font-size: 62px;
}

.landing .content .description {
  color: white;
  text-align: center;
  width: 50%;
  font-size: 18px;
  margin-top: 25px;
  font-weight: 300;
}

.landing .content .illustration {
  position: absolute;
  top: 0;
  right: -75px;
}

.landing .content .stripes {
  position: absolute;
  top: 0;
  left: -400px;
}

.landing .content .screen {
  width: 600px;
  height: 300px;
  background-color: #373552;
  border-radius: 20px;
}

.landing .content .actions {
  width: 90%;
  margin: 50px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .content .actions button,
.landing .content .actions a {
  margin: 0 10px;
  font-size: clamp(14px, 1.5vw, 22px);
}

.channels {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  min-height: 350px;
  background-color: #4c4a73;
}

.channelList {
  min-width: 300px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #3e3c5d;
}

.channelList .channelTitle {
  height: 40px;
  font-size: 1.6em;
  margin: 15px;
  font-weight: 400;
  color: white;
}

.channelList .channel {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.channelList .channel:hover {
  background-color: #33324e;
}

.channelList .channel .channelAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.channelList .channel .channelInfo {
  margin-left: 10px;
  width: 220px;
}

.channelList .channel .channelInfo .channelName {
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.channelList .channel .channelInfo .channelUsers {
  font-size: 0.75em;
  color: #c8c8c8;
}

.channelLanding {
  width: 100%;
  background-color: #4c4a73;
  color: white;
}

.channelLanding .content {
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.channelLanding .content .wrapper {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channelLanding .content .categoryImage {
  width: 50%;
  height: 75%;
  bottom: 25px;
  right: 25px;
  position: absolute;
  fill: #48466d;
  stroke: #48466d;
  z-index: 0;
}

.channelLanding .content .channelLandingTitle {
  margin-top: 50px;
  font-size: 2em;
}

.channelLanding .content .logo {
  width: 256px;
  height: 256px;
  margin: 50px 0;
}

.channelLanding .content .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.channelLanding .content .actions button,
.channelLanding .content .actions a {
  margin: 0 15px;
}

.notifications {
  min-width: 300px;
  max-width: 300px;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #3e3c5d;
  color: white;
  overflow-y: auto;
}

.notifications::-webkit-scrollbar {
  width: 10px;
}

.notifications::-webkit-scrollbar-track {
  background: transparent;
}

.notifications::-webkit-scrollbar-thumb {
  background: #33324e;
  border-radius: 5px;
}

.notifications::-webkit-scrollbar-thumb:hover {
  background: #29283e;
}

.notifications .notificationsTitle {
  height: 40px;
  font-size: 1.6em;
  margin: 15px;
  font-weight: 400;
}

.notifications .notificationsEmpty {
  padding: 15px;
}

.notifications .pointer {
  cursor: pointer;
}

.notifications .notification {
  position: relative;
  padding: 30px 15px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.notifications .notification:hover {
  background-color: #33324e;
}

.notifications .notification:hover .secondaryButton {
  background-color: #2d2b43;
}

.notifications .notification .close {
  position: absolute;
  top: 5px;
  right: 15px;
  stroke: white;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.notifications .notification .message {
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.notifications .notification .date {
  color: #c8c8c8;
  font-size: 0.75em;
  margin-top: 0.85em;
}

.notifications .notification .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.notifications .notification .actions button {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.notifications .notification .actions button:nth-of-type(1) {
  margin-left: auto;
}

.currentChannel {
  width: 100%;
  background-color: #4c4a73;
}

.currentChannel .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  height: 30px;
  position: relative;
  background-color: #444267;
}

.currentChannel .info .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  stroke: white;
  cursor: pointer;
}

.currentChannel .info .channelName {
  text-align: center;
  margin: auto;
  color: white;
  font-weight: 400;
  font-size: 1.15em;
}

.currentChannel .info .secondaryButton {
  position: absolute;
  top: 50%;
  font-size: 0.75em;
  padding: 5px 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 4px;
}

.currentChannel .info .invite {
  left: 25px;
}

.currentChannel .info .leave {
  right: 75px;
}

.currentChannel .content {
  height: calc(100% - 52px);
}

.currentChannel .content .chatMessages {
  height: calc(100% - 70px);
  overflow-y: auto;
}

.currentChannel .content .chatMessages::-webkit-scrollbar {
  width: 5px;
}

.currentChannel .content .chatMessages::-webkit-scrollbar-track {
  background: transparent;
}

.currentChannel .content .chatMessages::-webkit-scrollbar-thumb {
  background: #33324e;
  border-radius: 5px;
}

.currentChannel .content .chatMessages::-webkit-scrollbar-thumb:hover {
  background: #29283e;
}

.currentChannel .content .chatMessages .chatMessage {
  width: calc(100% - 50px);
  color: white;
  padding: 10px 25px;
  font-size: 0.9em;
  word-break: break-all;
}

.currentChannel .content .chatMessages .chatMessage:nth-of-type(2n) {
  background-color: #4e4c76;
}

.currentChannel .content .chatMessages .chatMessage:hover {
  background-color: #48466d;
}

.currentChannel .content .chatMessages .chatMessage .messageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currentChannel .content .chatMessages .chatMessage .messageInfo .messageAuthor {
  color: #ffc628;
  margin-right: 5px;
}

.currentChannel .content .chatMessages .chatMessage .messageInfo .messageDate {
  color: #c8c8c8;
  font-size: 0.75em;
  margin-top: 4px;
}

.currentChannel .content .sendMessage {
  height: 40px;
  width: calc(100% - 30px);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currentChannel .content .sendMessage .messageInput {
  padding: 10px;
  background: #373552;
  width: calc(100% - 175px);
  border: 0;
  border-radius: 5px;
  color: white;
}

.currentChannel .content .sendMessage .messageInput:focus {
  outline: none;
}

.currentChannel .content .sendMessage .mainButton {
  display: block;
  border-radius: 5px;
  margin-left: auto;
}

.currentChannel .content .sendMessage .mainButton:focus {
  outline: none;
}

.publicCategories {
  width: 100%;
  padding: 25px;
  position: relative;
}

.publicCategories .close {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 20px;
  width: 20px;
  stroke: white;
  cursor: pointer;
}

.publicCategories .search {
  width: 40%;
  margin: 0 auto 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #373552;
  border-radius: 5px;
}

.publicCategories .search .icon {
  fill: #aaaaaa;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: fill 0.2s;
  transition: fill 0.2s;
}

.publicCategories .search .icon:hover {
  fill: white;
}

.publicCategories .search .filter {
  width: 100%;
  border: 0;
  background: #373552;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.publicCategories .search .filter::-webkit-input-placeholder {
  color: #aaaaaa;
}

.publicCategories .search .filter:-ms-input-placeholder {
  color: #aaaaaa;
}

.publicCategories .search .filter::-ms-input-placeholder {
  color: #aaaaaa;
}

.publicCategories .search .filter::placeholder {
  color: #aaaaaa;
}

.publicCategories .search .filter:focus {
  outline: 0;
}

.publicCategories .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 0 10px;
}

.publicCategories .header .container {
  width: 125px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.publicCategories .header .container:nth-of-type(2) {
  padding-right: 5px;
}

.publicCategories .header .container .icon {
  height: 24px;
  width: 24px;
  fill: white;
}

.publicCategories .header .hidden {
  visibility: hidden;
}

.publicCategories .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: calc(100vh - 225px);
  overflow-y: auto;
}

.publicCategories .categories::-webkit-scrollbar {
  width: 5px;
}

.publicCategories .categories::-webkit-scrollbar-track {
  background: transparent;
}

.publicCategories .categories::-webkit-scrollbar-thumb {
  background: #33324e;
  border-radius: 5px;
}

.publicCategories .categories::-webkit-scrollbar-thumb:hover {
  background: #29283e;
}

.publicCategories .categories .publicCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 10px;
  background-color: #424064;
  border-radius: 5px;
  margin: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.publicCategories .categories .publicCategory .publicCategoryName {
  font-size: 1em;
  margin: auto;
  width: 125px;
}

.publicCategories .categories .publicCategory .activeUsers {
  font-size: 1em;
  margin: auto;
  width: 125px;
}

.publicCategories .categories .publicCategory .secondaryButton {
  border-radius: 5px;
  font-size: 0.75em;
  padding: 5px 25px;
  width: 125px;
  margin: auto;
}

.catOfDay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catOfDay .category {
  margin-bottom: 20px;
}

.catOfDay .category .tag {
  padding: 3px 10px;
  background-color: #3d84a8;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: 400;
}

.userList {
  min-width: 300px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #3e3c5d;
  position: relative;
}

.userList .userListTitle {
  height: 40px;
  font-size: 1.6em;
  margin: 15px;
  font-weight: 400;
  color: white;
}

.userList .userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.userList .userSelected {
  position: absolute;
  top: 50px;
  left: -250px;
  width: 200px;
  background-color: #29283e;
  padding: 25px;
  border-radius: 5px;
  z-index: 5;
}

.userList .userSelected .close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  right: 15px;
  stroke: white;
  cursor: pointer;
}

.userList .userSelected .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userList .userSelected .info .userName {
  color: white;
  margin-left: 10px;
}

.userList .userSelected .mainButton {
  border-radius: 5px;
  margin-top: 25px;
  padding: 5px;
  width: 100%;
}

.userList .userSelected .mainButton:disabled {
  background: #787878;
  cursor: not-allowed;
}

.userList .user {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.userList .user:hover {
  background-color: #33324e;
}

.userList .user .userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.userList .user .userName {
  margin-left: 15px;
  width: 220px;
  font-size: 1.15em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.userProfile {
  background-color: #48466d;
  width: 80%;
  min-height: calc(100vh - 70px);
  padding: 0 10%;
  color: white;
}

.userProfile .deleteModal .modal .content {
  padding: 0;
}

.userProfile .deleteModal .modal .content .loading {
  z-index: 3;
  margin-top: -150px;
}

.userProfile .deleteModal .modal .content .info {
  background-color: #b00020;
  padding: 25px;
  border-radius: 5px 5px 0 0;
}

.userProfile .deleteModal .modal .content .info p {
  font-size: 0.85em;
}

.userProfile .deleteModal .modal .content .content {
  width: calc(100% - 50px);
  padding: 25px;
  position: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userProfile .deleteModal .modal .content .content .deleteName {
  color: #c8c8c8;
  margin-bottom: 25px;
  font-size: 1.25em;
}

.userProfile .deleteModal .modal .content .content label {
  font-size: 0.9em;
}

.userProfile .deleteModal .modal .content .content label b {
  font-weight: 500;
}

.userProfile .deleteModal .modal .content .content .formInput {
  width: calc(100% - 20px);
  padding: 10px;
  background: #373552;
  border: 0;
  border-radius: 5px;
  color: white;
  margin: 10px 0;
}

.userProfile .deleteModal .modal .content .content .formInput:focus {
  outline: none;
}

.userProfile .deleteModal .modal .content .content .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.userProfile .deleteModal .modal .content .content .actions button {
  margin: 0 10px;
  border-radius: 5px;
}

.userProfile .deleteModal .modal .content .content .actions .secondaryButton {
  background: #b00020;
}

.userProfile .deleteModal .modal .content .content .actions .secondaryButton:disabled {
  background: #373552;
  cursor: not-allowed;
}

.userProfile .deleteModal .modal .content .content .actions .secondaryButton:disabled:hover {
  background: #373552;
}

.userProfile .deleteModal .modal .content .content .actions .secondaryButton:hover {
  background: #97001b;
}

.userProfile .userProfileTitle {
  padding-top: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 3em;
}

.userProfile .section {
  width: 60%;
  margin: 50px 0;
}

.userProfile .section .sectionTitle {
  font-size: 2em;
}

.userProfile .section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  background-color: #373552;
  padding: 25px;
  border-radius: 5px;
}

.userProfile .section .content .userAvatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.userProfile .section .content .info {
  margin-left: 50px;
  position: relative;
}

.userProfile .section .content .info .progressBar {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
}

.userProfile .section .content .info .progressBar .progress {
  height: 10px;
  border-radius: 5px;
  background-color: #3d84a8;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.userProfile .section .content .info .hidden {
  display: none;
}

.userProfile .section .content .info .tip {
  margin-top: 10px;
  font-size: 0.8em;
}

.userProfile .section .content .mainButton {
  border-radius: 5px;
}

.errorBox {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background-color: #b00020;
  color: white;
  border-radius: 5px;
}

.errorBox .content {
  position: relative;
  height: 100%;
  padding: 25px;
}

.errorBox .content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  stroke: white;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */